@model IEnumerable<PassionProject2024N01604846.Models.InstructorDto>
@{
    ViewBag.Title = "Instructor List";
}
@*listing intructor information*@
<h2 class="text-center">Instructor List</h2>
<div class="row  d-flex justify-content-center align-content-center">
    @foreach (var instructor in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">@instructor.FirstName @instructor.LastName</h5>
                    <p class="card-text"><strong>Instructor Number:</strong> @instructor.InstructorNumber</p>
                    <p class="card-text"><strong>Hire Date:</strong> @instructor.HireDate.ToShortDateString()</p>
                    <p class="card-text"><strong>Wages:</strong> @instructor.Wages</p>
                    <a href="/Instructor/InstructorDetails/@instructor.InstructorId" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    }
    <a href="@Url.Action("NewInstructor", "Instructor")" class="btn btn-secondary mt-3">Add Instructor</a>
</div>
